<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Payment Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/payment_dashboard.css') }}">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>💳 Payment Dashboard</h1>

        <a href="{{ url_for('admin.dashboard') }}"
           class="back-btn">

            ← Dashboard

        </a>

    </div>

    <div class="cards">

        <div class="card">

            <h2>{{ total_payments }}</h2>

            <p>Total Payments</p>

        </div>

        <div class="card success">

            <h2>{{ paid_payments }}</h2>

            <p>Paid</p>

        </div>

        <div class="card pending">

            <h2>{{ pending_payments }}</h2>

            <p>Pending</p>

        </div>

        <div class="card failed">

            <h2>{{ failed_payments }}</h2>

            <p>Failed</p>

        </div>

        <div class="card revenue">

            <h2>₹{{ total_revenue }}</h2>

            <p>Total Revenue</p>

        </div>
        <div class="card refunded">

        <h2>{{ refunded_payments }}</h2>

            <p>Refunded</p>

        </div>

<div class="card refund-pending">

    <h2>{{ pending_refunds }}</h2>

    <p>Pending Refunds</p>

</div>
<div class="card coupon">

    <h2>{{ coupon_used }}</h2>

    <p>Coupon Used</p>

</div>

<div class="card nocoupon">

    <h2>{{ no_coupon }}</h2>

    <p>Without Coupon</p>

</div>
    </div>

</div>

</body>

</html>